<img src="{{movies.image}}" alt="image">
<a href="/mouvies.hbs">Go back</a>
<h2>{{mouvies.name}}</h2>
<p>{{movies.director}}</p>
<ul>    Stars
    <li>{{movies.stars}}</li>
</ul>
<p>{{movies.description}}</p>
<p>{{movies.showtime}}</p>